.black {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 1;
}

.main {
    background-color: #fff;
    margin: auto;
    width: 80%;
    text-align: left;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px hsla(0, 0%, 0%, 0.2);

    tr {

        td,
        th {
            border-bottom: 1px solid #dddddd;
        }

        th {
            width: 10%;
        }

        th:nth-child(3) {
            width: 30%;
        }
    }

    tr:first-child {
        height: 50px;
    }

    tr:not(:first-child) {
        &:hover {
            cursor: pointer;
        }
    }
}

.finishOrder {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: flex-end;

    button {
        margin-top: 30px;
        width: 150px;
        height: 30px;
    }
}