.main {
    &:hover {
        background-color: #f7f7f7;
        cursor: pointer;
    }

    td {
        border-top: 1px solid #dddddd;
        text-align: left;
        font-weight: bold;
    }

    td:nth-child(1) {
        width: 3%;
    }

    td:nth-child(2),
    td:nth-child(3) {
        width: 10%;
    }

    td:nth-child(4) {
        width: 27%;
    }

    td:nth-child(5),
    td:nth-child(6) {
        width: 10%;
    }

    td:nth-child(7) {
        width: 20%;
    }
}

.customer {
    span {
        font-weight: normal;
    }
}

.profit {
    span {
        background-color: #000000;
        color: white;
        padding: 2px 10px;
        border-radius: 20px;
        font-size: 10pt;
    }
}

.rating {
    color: red;
}

.status {
    display: flex;
    width: fit-content;
    margin-left: -20px;
    color: rgb(65, 118, 65);

    p {
        margin: 5px auto;
        padding: 5px 20px;
        border-radius: 50px;
        background-color: rgb(209, 255, 209);
        font-weight: 500;

        span {
            margin-left: 40px;
            font-size: 9pt;
        }
    }
}

.productsTable {

    th,
    td {
        border-bottom: 1px solid #dddddd;
    }

    tr:not(:first-child) {
        &:hover {
            cursor: pointer;
        }
    }
}

.productsHeader {
    height: 50px;

    th:nth-child(3) {
        width: 40%;
    }
}

.orderSummary {
    height: 30px;

    td {
        border: none;
    }
}

.options {
    width: 30px;
    height: 30px;
}