.main{
    &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    }
    td{
        border-top: 1px solid #dddddd;
    }
}
.status{
    width: 100px;
    height: 50px;
    border-radius: 50px;
}
.productsTable{
    th, td{
      border-bottom: 1px solid #dddddd;
    }
    tr:not(:first-child) {
        &:hover {
          cursor: pointer;
        }
    }
    margin-bottom: 50px;
}
.productsHeader{
    height: 50px;
}