.main{
    margin: auto;
    margin-top: 10px;
    position: relative;
    background-color: #fff;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 10px;
    p{
        margin: auto;
        padding: 10px 30px;
        width: 100px;
        &:hover{
            background-color: #f7f7f7;
        }
    }
}